<app-back-to-menu></app-back-to-menu>
<div class="w-svh h-svh flex items-center flex-col">
  @if(is_end){
  <div
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-rose-900 text-white p-2 rounded-xl flex justify-center items-center"
  >
    <div class="p-2 bg-rose-950 rounded-xl text-4xl">
      {{ result }}
    </div>
  </div>
  }

  <div class="h-1/6 flex flex-col justify-center items-center">
    @if(mode=="Online"){
    <h1 class="text-4xl">{{ player_who_moves }} moves</h1>
    <div class="bg-rose-950 text-white rounded-xl p-2 m-2 text-xl">
      Room id: {{ room_id }}
    </div>
    @if(message!==''){

    <div
      id="disappear"
      class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-rose-900 text-white p-2 rounded-xl flex flex-col justify-center"
    >
      <div class="p-2 bg-rose-950 rounded-xl">
        {{ message }}
      </div>
    </div>
    } @if(joining_room_status!=="connected"){
    <div
      class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-rose-900 text-white p-2 rounded-xl"
    >
      {{ joining_room_status }}
    </div>
    } } @else{ @if(who_moves=='circle'){
    <h1 class="text-4xl">circle moves</h1>
    }@else {
    <h1 class="text-4xl">cross moves</h1>
    }}
  </div>
  <div>
    <div id="board" class="grid grid-cols-3">
      @for (cells of cell_table;track cells;let iid=$index ) {
      <div
        [classList]="
          big_cells_results[iid].char == 'none'
            ? 'grid grid-cols-3 m-1'
            : 'grid grid-cols-1 m-1'
        "
      >
        @if(big_cells_results[iid].char=='none'){ @for(cell of cells;track
        $index){ @if(cell.char=="none") {
        <div
          [classList]="
            cell.is_active
              ? 'w-10 h-10 md:w-12 md:h-12 border-2 border-black bg-lime-300'
              : 'w-10 h-10 md:w-12 md:h-12 border-2 border-black '
          "
          (click)="
            cell.is_active && !is_end
              ? mode == 'Online'
                ? player_char == who_moves
                  ? sendMove(iid, $index)
                  : null
                : add_char(iid, $index)
              : null
          "
        ></div>

        } @else {
        <div
          class="items-center w-10 h-10 md:w-12 md:h-12 border-2 border-black font-black"
        >
          <img [src]="get_picture_path(cell.char)" alt="" />
        </div>

        } } }@else {

        <div
          class="w-[120px] h-[120px] md:w-36 md:h-36 flex justify-center items-center border-black font-black"
        >
          <img [src]="get_picture_path(big_cells_results[iid].char)" alt="" />
        </div>

        }
      </div>

      }
    </div>
  </div>
</div>
