<div class="w-max-svw flex items-center justify-center flex-col bg-gray-800">
  <div
    class="w-5/12 py-20 rounded-lg flex items-center justify-center flex-col bg-gray-900"
  >
    @for (row of board;track row;let rowId=$index ){
    <div class="flex flex-row">
      @for(square of row;track square; let columnId=$index){

      <div
        [classList]="
          square.is_path
            ? 'w-20 h-20 border border-white bg-pink-500 flex items-center justify-center'
            : 'w-20 h-20 border border-white bg-black flex items-center justify-center'
        "
        (click)="chose_ball(square)"
      >
        @if (square.color!="black") {
        <img
          [src]="get_color_path(square.color)"
          [width]="square.is_selected ? '70' : '80'"
          [height]="square.is_selected ? '70' : '80'"
          alt="{{ square.color }}"
        />
        }
      </div>
      }
    </div>
    }
  </div>
</div>
