<app-back-to-menu></app-back-to-menu>
<div class="flex items-center justify-center flex-col">
  <div class="flex flex-row">
    <div
      (click)="today()"
      class="w-20 md:w-36 h-12 bg-rose-950 rounded-xl hover:bg-red-800 text-white flex justify-center items-center m-1 md:m-2"
    >
      Best Today
    </div>
    <div
      (click)="bests()"
      class="w-20 md:w-36 h-12 bg-rose-950 rounded-xl hover:bg-red-800 text-white flex justify-center items-center m-1 md:m-2"
    >
      Best of All
    </div>
    <div
      (click)="week()"
      class="w-20 md:w-36 h-12 bg-rose-950 rounded-xl hover:bg-red-800 text-white flex justify-center items-center m-1 md:m-2"
    >
      Best of Last Week
    </div>
  </div>
  <form
    (ngSubmit)="onSubmit()"
    class="flex flex-row text-white bg-rose-900 rounded-xl"
  >
    <input
      placeholder="nickname"
      class="w-20 md:w-36 h-12 m-1 md:m-2 bg-rose-950 text-white rounded-xl"
      [(ngModel)]="player_nickname"
      name="col_number"
      type="text"
    />
    <button
      type="submit"
      class="w-20 md:w-36 h-12 bg-rose-950 rounded-xl hover:bg-red-800 text-white flex justify-center items-center m-1 md:m-2"
    >
      Submit
    </button>
  </form>
  @if(modes.length>0){
  <div class="flex flex-row">
    @for(mode of modes;track $index){
    <div
      (click)="set_mode($index)"
      class="w-20 md:w-36 h-12 bg-rose-950 rounded-xl hover:bg-red-800 text-white flex justify-center items-center m-1 md:m-2"
    >
      {{ mode }}
    </div>
    }
  </div>
  }

  <table class="text-white m-2">
    <thead>
      <tr class="py-1 flex flex-row bg-rose-900 rounded-xl">
        <th
          class="w-4 md:w-6 h-12 rounded-xl flex items-center justify-center mx-1"
        ></th>
        <th
          class="w-20 md:w-36 h-12 bg-rose-950 rounded-xl flex items-center justify-center mx-1 font-bold"
        >
          nickname
        </th>
        @if(modes.length>0){

        <td
          class="w-16 md:w-36 h-12 bg-rose-950 rounded-xl flex items-center justify-center mx-1 font-bold"
        >
          Mode
        </td>
        }
        <th
          class="w-24 md:w-36 h-12 bg-rose-950 rounded-xl flex items-center justify-center mx-1 font-bold"
        >
          Score
        </th>

        <td
          class="w-24 md:w-36 h-12 bg-rose-950 rounded-xl flex items-center justify-center mx-1 font-bold"
        >
          Date
        </td>
      </tr>
    </thead>
    <tbody>
      @for (score of scores; track $index) {
      <tr class="py-1 flex flex-row bg-rose-900 rounded-xl">
        <td
          class="w-4 md:w-6 h-12 bg-rose-950 rounded-xl flex items-center justify-center mx-1"
        >
          {{ $index + 1 }}.
        </td>
        <td
          class="w-20 md:w-36 h-12 bg-rose-950 rounded-xl flex items-center justify-center mx-1"
        >
          {{ score.nickname }}
        </td>
        @if(score.gameMode!=undefined){
        <td
          class="w-16 md:w-36 h-12 bg-rose-950 rounded-xl flex items-center justify-center mx-1"
        >
          {{ score.gameMode }}
        </td>
        }
        <td
          class="w-24 md:w-36 h-12 bg-rose-950 rounded-xl flex items-center justify-center mx-1"
        >
          {{ score.result }}
        </td>

        <td
          class="w-24 md:w-36 h-12 bg-rose-950 rounded-xl flex items-center justify-center mx-1"
        >
          {{ score.date }}
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
