<app-back-to-menu></app-back-to-menu>

<div
  class="flex flex-col justify-center items-center h-2/5 w-dvw xl:w-2/5 lg:w-2/5 md:w-3/5 sm:w-4/5 bg-rose-900 text-white rounded-xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
>
  <a
    [routerLink]="['/sttt', 'Online']"
    class="my-4 flex items-center justify-center bg-rose-950 hover:bg-red-800 text-white rounded-xl w-72 sm:w-72 md:w-80 xl:w-96 h-20"
  >
    Online game
  </a>
  <a
    [routerLink]="['/sttt', 'Local']"
    class="my-4 flex items-center justify-center bg-rose-950 hover:bg-red-800 text-white rounded-xl w-72 sm:w-72 md:w-80 xl:w-96 h-20"
  >
    Local Game
  </a>
</div>
