@keyframes change_size_small {
  0% {
    width: 80px;
    height: 80px;
  }

  100% {
    width: 112px;
    height: 112px;
  }
}
@keyframes change_size_normal {
  0% {
    width: 128px;
    height: 128px;
  }

  100% {
    width: 160px;
    height: 160px;
  }
}
@keyframes change_size_big {
  0% {
    width: 160px;
    height: 160px;
  }

  100% {
    width: 192px;
    height: 192px;
  }
}
