<app-back-to-menu></app-back-to-menu>
<div class="mt-10 w-svw flex items-center justify-center flex-col">
  @if(is_end){
  <app-save-score
    [game]="'tetris'"
    [score]="line_removed"
    (end)="reset()"
  ></app-save-score>
  }
  <div
    [classList]="
      !start
        ? 'absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-rose-950 text-white p-2 rounded-xl hover:bg-red-800 w-80 flex justify-center items-center '
        : 'hidden '
    "
    (click)="play()"
  >
    PLAY
  </div>
  <div
    class="w-5/12 text-white bg-rose-950 flex items-center justify-center p-2 m-2 rounded-xl"
  >
    Linie: {{ line_removed }} Level {{ level }}
  </div>
  <div class="flex flex-col md:flex-row-reverse bg-rose-900 p-2 rounded-xl">
    <div class="flex flex-col text-white items-center justify-center">
      Next block:
      <div id="preview" class="m-2">
        @for (row of preview;track $index ){

        <div class="flex flex-row">
          @for(color of row;track $index){
          <div class="w-6 h-6 border border-black bg-white">
            @if(color!="white"){
            <img
              [src]="get_color_path(color)"
              width="24"
              height="24"
              alt="{{ color }}"
            />}
          </div>
          }
        </div>
        }
      </div>
      Hold (C):
      <div id="hold" class="m-2">
        @for (row of hold_block;track $index ){

        <div class="flex flex-row">
          @for(color of row;track $index){
          <div class="w-6 h-6 border border-black bg-white">
            @if(color!="white"){
            <img
              [src]="get_color_path(color)"
              width="24"
              height="24"
              alt="{{ color }}"
            />}
          </div>
          }
        </div>
        }
      </div>
    </div>
    <div id="board" class="m-2">
      @for (row of board;track row;let rowId=$index ){

      <div class="flex flex-row">
        @for(cell of row;track $index){ @if(rowId>=2){
        <div class="w-6 h-6 border border-black bg-white">
          @if(cell.color!="white"){
          <img
            [src]="get_color_path(cell.color)"
            width="24"
            height="24"
            alt="{{ cell.color }}"
          />}
        </div>
        } }
      </div>
      }
    </div>
  </div>
  <div class="flex flex-row">
    <div class="mx-5">
      <div class="lg:hidden w-24 h-10 rounded-lg"></div>
      <div
        class="lg:hidden w-24 h-10 rounded-lg border border-black font-bold flex justify-center items-center"
        (click)="space()"
      >
        －
      </div>
    </div>
    <div class="mx-5">
      <div class="flex flex-row">
        <div
          class="lg:hidden w-10 h-10 rounded-lg border border-black font-bold flex justify-center items-center"
          (click)="hold_block_keyup()"
        >
          C
        </div>
        <div
          class="lg:hidden w-10 h-10 rounded-lg border border-black font-bold flex justify-center items-center"
          (click)="arrow_up()"
        >
          ↑
        </div>
        <div class="lg:hidden w-10 h-10 rounded-lg"></div>
      </div>
      <div class="flex flex-row">
        <div
          class="lg:hidden w-10 h-10 rounded-lg border border-black font-bold flex justify-center items-center"
          (click)="arrow_left()"
        >
          ←
        </div>
        <div
          class="lg:hidden w-10 h-10 rounded-lg border border-black font-bold flex justify-center items-center"
          (click)="arrow_down()"
        >
          ↓
        </div>
        <div
          class="lg:hidden w-10 h-10 rounded-lg border border-black font-bold flex justify-center items-center"
          (click)="arrow_right()"
        >
          →
        </div>
      </div>
    </div>
  </div>
  <app-higscore-btn [game]="'tetris'"></app-higscore-btn>
</div>
